aiohttp==3.8.5
aiosignal==1.3.1
async-timeout==4.0.3
attrs==23.1.0
charset-normalizer==3.2.0
frozenlist==1.4.0
idna==3.4
multidict==6.0.4
numpy==1.25.2
packaging==23.1
plotly==5.16.1
python-dateutil==2.8.2
pytz==2023.3
six==1.16.0
tenacity==8.2.3
tzdata==2023.3
websockets==11.0.3
yarl==1.9.2
